@charset "UTF-8";

html {
  line-height: 1.46;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

dl, dd {
  margin: 0;
}

h1 > small, h1 > time {
  display: block;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}

article, figure {
  display: block;
}

figure {
  margin: 1em 40px;
}

summary:focus {
  outline: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active, a:hover {
  outline-width: 0;
}

#report ul li:before, #report ul li:after {
  content: "";
  position: absolute;
}

:root {
  font-size: 0.875rem;
}
@media (min-width: 24em) {
  :root {
    font-size: 0.9375rem;
  }
}
@media (min-width: 48em) {
  :root {
    font-size: 1rem;
  }
}

body {
  cursor: default;
  font-family: "Montserrat", sans-serif;
  color: #CCC;
  background: #1E1D2F;
}

a {
  display: inline-block;
  color: #EEE;
  position: relative;
  text-decoration: none;
}

#app {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
}
@media (min-width: 64em) {
  #app {
    min-height: 100vh;
  }
}

#report {
  margin: 40px 0;
}
#report div > div {
  padding: 0 10px;
  text-align: left;
  color: #848497;
}
#report ul li {
  position: relative;
  background: #27283C;
  margin-top: 10px;
  padding: 10px;
}
#report ul li:before {
  width: 40px;
  height: 40px;
  left: 10px;
  top: 16px;
  border-radius: 50%;
  background-color: #24A84D;
}
#report ul li:after {
  width: 36px;
  height: 36px;
  left: 12px;
  top: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3207673/credit-card--white.svg);
}
#report ul li summary {
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
#report ul li summary::-webkit-details-marker {
  display: none;
}
#report ul li div {
  line-height: 26px;
}
#report ul li p {
  text-align: left;
  color: #587d6c;
}
#report ul li .order {
  order: 1;
  flex-basis: 55%;
  text-align: left;
}
#report ul li .amount {
  order: 2;
  font-size: 18px;
  font-weight: 800;
  flex-basis: 45%;
  text-align: right;
  color: #FFF;
}
#report ul li .amount.negative {
  color: #D87822;
}
#report ul li .amount.negative:before {
  content: "- ";
}
#report ul li .amount.positive {
  color: #39b27c;
}
#report ul li .amount.positive:before {
  content: "+ ";
}
#report ul li .amount.rubles:after {
  content: " ₽";
}
#report ul li .time {
  order: 3;
  flex-basis: 30%;
  text-align: left;
}
#report ul li .account {
  order: 4;
  flex-basis: 70%;
  text-align: right;
}
#report ul .description {
  margin-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  background-color: #CCC;
  border-radius: 4px;
  overflow: hidden;
  color: #212121;
}
#report ul .description div {
  padding: 10px;
}
#report ul .description div:first-child {
  background-color: #58B4B4;
}
#report ul .description a {
  color: #9B51E0;
}
